.reel {
    flex: 1;
    height: 100%;

    text-align: center;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    position: relative;
  }
  
  .reel-content {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    padding-left: 8px;
    padding-right: 8px;

    .text {
        color: blue;

        &.dummy {
            text-align: left;
            align-items: left;
        }
    }
  }
  
  .reel.spinning .reel-content {
    animation: shake 0.3s linear infinite;
  }

  .reel.spinning-stop .reel-content {
    animation: spin-end 0.7s linear;
  }
  
  @keyframes shake {
    0% { transform: translateY(0); }
    50% { transform: translateY(-150px); }
    51% { transform: translateY(150px); }
    100% { transform: translateY(0); }
  }

  @keyframes spin-end {
    0% { transform: translateY(150px); }
    100% { transform: translateY(0); }
  }