<div class="slot-machine">
  <div class="title">losowanie</div>
  <div class="reel-container">
    <app-reel class="reel" [text]="reels[0]" [spinning]="spinning[0]"></app-reel>
    <app-reel class="reel" [text]="reels[1]" [spinning]="spinning[1]"></app-reel>
    <app-reel class="reel" [text]="reels[2]" [spinning]="spinning[2]"></app-reel>
  </div>
  <span>
      <button (click)="edit()">edytuj</button>
      <button [disabled]="this.currentSetIndex < 0" (click)="back()">wróć</button>
      <button (click)="play()">losuj</button>
  </span>
</div>
<div class="editor-window" *ngIf="showEditor">
  <app-sentence-editor
    [sentenceSets]="sentenceSets"
    (save)="save($event)"
    (close)="edit()">
  </app-sentence-editor>
</div>
